In [1]:
# import libraries
import pandas as pd
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import classification_report

In [2]:
# load satellite train data
sat_data = pd.read_csv("sat_train.csv")

In [4]:
sat_data.head()

,Column1,Column2,Column3,Column4,Column5,Column6,Column7,Column8,Column9,Column10,...,Column28,Column29,Column30,Column31,Column32,Column33,Column34,Column35,Column36,Column37
0,92,115,120,94,84,102,106,79,84,102,...,104,88,121,128,100,84,107,113,87,3
1,84,102,106,79,84,102,102,83,80,102,...,100,84,107,113,87,84,99,104,79,3
2,84,102,102,83,80,102,102,79,84,94,...,87,84,99,104,79,84,99,104,79,3
3,80,102,102,79,84,94,102,79,80,94,...,79,84,99,104,79,84,103,104,79,3
4,84,94,102,79,80,94,98,76,80,102,...,79,84,103,104,79,79,107,109,87,3

In [5]:
sat_data.isna().sum()

Column1     0
Column2     0
Column3     0
Column4     0
Column5     0
Column6     0
Column7     0
Column8     0
Column9     0
Column10    0
Column11    0
Column12    0
Column13    0
Column14    0
Column15    0
Column16    0
Column17    0
Column18    0
Column19    0
Column20    0
Column21    0
Column22    0
Column23    0
Column24    0
Column25    0
Column26    0
Column27    0
Column28    0
Column29    0
Column30    0
Column31    0
Column32    0
Column33    0
Column34    0
Column35    0
Column36    0
Column37    0
dtype: int64

### Create feature and target set from the train data

In [8]:
train_input = sat_data.iloc[:,:-1]
train_target = sat_data.iloc[:,-1]

In [9]:
print(train_input.shape)

(4435, 36)

In [10]:
print(train_target.shape)

(4435,)

###  import sat_test dataset

In [11]:
sat_test = pd.read_csv(r"sat_test.csv")
sat_test.head()

,Column1,Column2,Column3,Column4,Column5,Column6,Column7,Column8,Column9,Column10,...,Column28,Column29,Column30,Column31,Column32,Column33,Column34,Column35,Column36,Column37
0,80,102,102,79,76,102,102,79,76,102,...,87,79,107,109,87,79,107,113,87,3
1,76,102,102,79,76,102,106,83,76,102,...,87,79,107,113,87,79,103,104,83,3
2,80,98,106,79,76,94,102,76,76,94,...,79,79,95,100,79,79,95,96,75,4
3,76,94,102,76,76,94,102,76,76,94,...,79,79,95,96,75,79,95,100,75,4
4,76,94,102,76,76,94,102,76,76,89,...,75,79,95,100,75,75,95,100,79,4

In [12]:
# create input and target set from the sat_test dataset
test_input= sat_test.iloc[:,:-1]
test_target = sat_test.iloc[:,-1]

In [13]:
test_input.shape

(2000, 36)

In [14]:
test_target.shape

(2000,)

### Create the RandomForest model

In [31]:
clf = RandomForestClassifier(random_state=365)

In [32]:
clf.fit(train_input,train_target)

RandomForestClassifier(random_state=365)

In [33]:
# Test the model
 
target_pred = clf.predict(test_input)

In [34]:
print(classification_report(test_target, target_pred))

              precision    recall  f1-score   support

           1       0.97      0.99      0.98       461
           2       0.98      0.98      0.98       224
           3       0.90      0.94      0.92       397
           4       0.78      0.65      0.71       211
           5       0.93      0.89      0.91       237
           7       0.87      0.90      0.89       470

    accuracy                           0.91      2000
   macro avg       0.91      0.89      0.90      2000
weighted avg       0.91      0.91      0.91      2000

#### Accuracy of the model is 91%